html {
  width: 100%;
  height: 100%; }

body[data-mode="workflowy"] #multiflow {
  display: none; }

body[data-mode="multiflow"] {
  padding: 0;
  transition: none; }
  body[data-mode="multiflow"] #multiflow {
    display: block; }
  body[data-mode="multiflow"] > *:not(#multiflow) {
    display: none; }

body[data-layout="fit-left"] iframe:first-child {
  max-width: 450px; }

body[data-layout="fit-content"] {
  overflow-x: scroll; }

body[data-layout="fit-content"] iframe {
  max-width: 700px; }

body[data-frames="1"] iframe {
  max-width: unset !important; }

#multiflow {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: none; }
  #multiflow main {
    display: flex;
    height: 100%; }
  #multiflow iframe {
    flex: 1;
    margin: 0;
    height: 100%;
    border: none;
    outline: 1px solid #DDD; }
  #multiflow .hidden {
    display: none; }
