<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>WorkFlowy MultiFlow</title>
  <link rel="stylesheet" href="../assets/vendor/spectre.min.css">
  <link rel="stylesheet" href="popup.css">
  <script src="../assets/vendor/mac-fix.js"></script>
  <script src="../assets/vendor/vue.js"></script>
  <script src="../assets/vendor/vue-slicksort.min.js"></script>
</head>
<body>
<div id="app">
  <header class="header">
    <a class="header__icon"
       href="https://chrome.google.com/webstore/detail/workflowy-multiflow/khjdmjcmpolknpccmaaipmidphjokhdf"
       target="_blank"
       :title="`MultiFlow ${ version ? version : ''}`"
    >
      <img src="../assets/icons/icon-128.png">
    </a>
    <h3 class="header__text">WorkFlowy <strong>MultiFlow</strong></h3>
  </header>

  <main class="main hidden">
    <form class="form-horizontal form-horizontal">

      <!-- layout -->
      <div class="form-group">
        <div class="col-3">
          <label class="form-label">Layout</label>
        </div>
        <div class="col-9">
          <label class="form-radio">
            <input v-model="settings.layout" value="fit-screen" type="radio" name="layout">
            <i class="form-icon"></i> Fit to screen
          </label>
          <label class="form-radio">
            <input v-model="settings.layout" value="fit-content" type="radio" name="layout">
            <i class="form-icon"></i> Fit to content
          </label>
          <label class="form-radio">
            <input v-model="settings.layout" value="fit-left" type="radio" name="layout">
            <i class="form-icon"></i> Left-hand navigation
          </label>
        </div>
      </div>

      <hr>

      <!-- sessions -->
      <div class="form-group ">
        <div class="col-3">
          <label class="form-label">Sessions</label>
        </div>
        <div class="col-9">
          <!-- sessions -->
          <div v-if="savedSessions.length" class="sessions" :data-sorting="state.sorting">
            <slick-list lock-axis="y"
                        :distance="1"
                        v-model="savedSessions"
                        :lock-to-container-edges="true"
                        @sort-start="onSortStart"
                        @sort-end="onSortEnd"
                        @input="onSortInput"
            >
              <slick-item v-for="(session, index) in savedSessions" :index="index" :key="index">
                <label class="form-radio" @click="loadSession(index)">
                  <input v-model="pageSession.id" :value="session.id" type="radio" name="session">
                  <i class="form-icon"></i>
                  <div class="session__text">
                    <span class="session__title">{{ session.title }}&nbsp;</span>
                    <span class="session__delete" @click.prevent.stop="removeSession(index)">&times;</span>
                  </div>
                </label>
              </slick-item>
            </slick-list>
          </div>

          <!-- save button -->
          <label class="sessionAction form-label">
            <div v-if="state.loading">
              <span class="sessionAction__status">
                Loading...
              </span>
            </div>
            <button v-else
                    class="sessionAction__button btn btn-link btn-sm"
                    :disabled="saveAction === 'none'"
                    @click.prevent="saveSession"
            >{{ saveText }}
            </button>
          </label>
        </div>
      </div>

      <div class="form-group mt-2">
        <div class="col-12 links">
          <a href="https://davestewart.co.uk/products/workflowy-multiflow" target="_blank">Help</a>
        </div>
      </div>

    </form>
  </main>
</div>
<script type="module" src="popup.js"></script>
</body>
</html>
