body {
  width: 450px;
  font-size: 13px;
  padding: 1.5em;
  user-select: none;
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #434e51;
  will-change: contents; }

.header {
  display: flex;
  align-items: center;
  font-weight: normal;
  margin-bottom: 1rem;
  color: #2a3135; }
  .header__icon {
    display: block; }
    .header__icon img {
      display: block;
      width: 48px;
      height: 48px; }
  .header__text {
    display: block;
    margin: 0 0 0 .4em;
    font-size: 1.7rem; }

.main {
  position: relative;
  opacity: 1;
  transition: .4s opacity;
  transition-delay: .1s; }
  .main.hidden {
    opacity: 0; }

hr {
  border: none;
  margin: .75rem 0;
  background: #d9dfe2;
  height: 1px; }

a:active {
  box-shadow: none; }

a[disabled] {
  text-decoration: none;
  color: #d9dfe2; }

.loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

form {
  padding: 0 !important; }

.form-group [class^="col"]:first-of-type {
  color: #2a3135; }

.form-group .col-9 {
  padding-top: .2rem; }

.form-radio {
  margin: 0 0 0 .5rem;
  padding: .1rem 0 .3rem 1.2rem;
  cursor: pointer; }

.form-select {
  margin-top: 0.2rem;
  border: 1px solid #d9dfe2; }

.form-radio:hover {
  color: #428ab3; }

.btn {
  font-size: 13px; }

.sessions {
  padding-bottom: .7rem;
  border-bottom: 1px solid #d9dfe2;
  margin-bottom: 1em; }

.session__text {
  display: flex;
  justify-content: space-between; }

.session__title {
  overflow: hidden;
  text-overflow: ellipsis; }

.session__delete {
  display: none;
  padding: 0.2rem 0.5rem;
  font-size: 1.3em;
  line-height: 1em;
  color: #b7c4cf;
  font-weight: bold; }
  .session__delete:hover {
    color: #428ab3; }

.session__text:hover .session__delete {
  display: block; }

.sessions[data-sorting] .session__delete {
  display: none !important; }

.sessionAction {
  margin-top: -.3rem;
  margin-left: 1.35rem; }
  .sessionAction > * {
    display: inline-block;
    padding: .1rem .4rem; }
  .sessionAction__status {
    color: #b7c4cf; }
  .sessionAction__button {
    outline: none !important;
    box-shadow: none !important; }
    .sessionAction__button:not([disabled]):hover {
      text-decoration: underline; }
    .sessionAction__button[disabled] {
      cursor: default; }

.links {
  position: relative;
  right: -.25rem;
  bottom: -.25rem;
  text-align: right;
  font-size: 0; }
  .links a {
    display: inline-block;
    padding: .2em .6em;
    font-size: 10px;
    color: #b7c4cf;
    text-decoration: none; }
    .links a:not(:first-child) {
      border-left: 1px solid #d9dfe2; }
  .links a:hover {
    color: #428ab3; }
